{% extends 'base.html' %}

{% block content %}
	<section class="main container">
		<h1>{{ page.title }}</h1>
	</section>
	<section class="container">
		{{ page.body|richtext }}
	</section>
	{% if form.fields %}
	<section class="request container">
		<form action="{{ page.url }}" method='POST'>
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			{% for field in form %}
				<div class="form-group">
					<label for="{{ field.label }}">{{ field.label }}</label>
					{{ field|addbootstrapclass }}
					{% for error in field.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% endfor %}
			<input class="btn btn-primary" type="submit">
		</form>
	</section>
	{% endif %}
{% endblock %}